#presentation{
    #logoCol{
        display:flex;
    }
    #h1column {
        flex-direction: column;
        justify-content: center;
        p {
            font-style: italic;
        }
    }
}

@media only screen and (min-width: 576px) {
    #presentation .row #h1column h1{
        font-size: 4rem;
    }
}
@media only screen and (max-width: 991px) {
    #presentation {
        padding-top: 3rem;
        text-shadow: 2px 2px 4px #281e2d;
        .row {
            justify-content: center;
            #logoCol{
                justify-content: center;
                #brandLogo{
                    width: 55%;
                    margin-bottom:1.5rem;
                }
            }
            #h1column {
                text-align: center;
                margin-bottom: 2rem;
                h1{
                    font-size: 2.6rem;
                }
            }
        }
    }
}
@media only screen and (min-width: 992px) {
    #presentation {
        .row {
            justify-content: space-evenly;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            #logoCol{
                display:flex;
                justify-content: flex-end;
                #brandLogo{
                    margin-bottom: 0.5rem;
                }
            }
            #h1column {
                display: flex;
                align-items: flex-start;

                h1 {
                    font-size: 3.3rem;
                }

                p {
                    font-style: italic;
                }
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    #presentation .row {
        padding-left: 0;
        padding-right: 0;
        #h1column h1{
            font-size: 4rem;
        }
    }
}
@media only screen and (min-width: 1400px) {
    #presentation .row #h1column h1{
        font-size: 4.5rem;
    }
}