$purple-signature:  #1D191F;
$purple-footer:     #1D1621;
$purple-darkest:    #281e2d;
$purple-darker:     #43334b;
$purple-lighter:    #5e4869;
$purple-lightest:   #6B5278;
$yellow-darkest:    #be9e44;
$yellow-lightest:   #d8c690;