.callToAction .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ctaCol:first-child {
        text-align: center;
        margin-bottom: 1rem;
        text-shadow: 2px 2px 2px rgba(76, 42, 42, 0.7);
    }

    .ctaCol:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

@media only screen and (max-width: 520px) {
    .callToAction .ctaCol:last-child {
        flex-direction: column;
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    .callToAction .row {
        flex-direction: row;

        .ctaCol:last-child {
            align-items: start;
        }
    }
}