@media only screen and (max-width: 520px) {
    .callToAction .ctaCol:last-child {
        flex-direction: column;
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    .callToAction .row {
        flex-direction: row;

        .ctaCol:last-child {
            align-items: start;
        }
    }
}