@import '../../styles/color_vars.scss';
#signatureSection {
    background-color: $purple-footer;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


    .row{
        flex-direction: column;
        .col{
            text-align: end;
        }
    }
    #externalCredits{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul{
            
            padding: 0;
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;

            
            li{
                list-style-type: none;
                margin: 0;
                display: inline-block;
            }
        }
    }
}

/***********************/
/*Laptops and desktops*/
@media only screen and (min-width: 992px) {
    #signatureSection {
        font-size: .8rem;
        padding: 1rem 1rem 2px 1rem;
        color: #a99985;
        a { 
            color: #a99985;
        }
    }
}

/***********************/
/*Tablets and phones*/
@media only screen and (max-width: 992px) {
    #signatureSection {
        font-size: .9rem;
        text-align: end;
        padding-top: 2rem;
        .container-fluid{
            background-color: $purple-signature;
            .row{
                $font-color: #857B8A;
                color: $font-color;
                a { 
                    color: $font-color;
                }
                #externalCredits{
                    justify-content: flex-end;
                }
            }
        }
    }
}