@import '../../color_vars.scss';
footer{
    padding-top: 4rem;
    background-color: $purple-footer;
    color: white;
    ol li{
        list-style-type: none;
        a{
            color: inherit;
            text-decoration: none;
        }
    }
}