@import '../../color_vars.scss';
footer{
    padding-top: 4rem;
    background-color: $purple-footer;
    color: white;
    a{
        color:white;
        &:hover{
                color:#adb5bd;
        }
    }
    ol li{
        list-style-type: none;
        a{
            display: block;
            color: inherit;
            text-decoration: none;
        }
    }
}
@media only screen and (max-width: 991px) {
    #socialNetworks {
        margin: 2rem 0rem 4rem 0px;
        padding-left: 2rem;
    }
}

