:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.15rem;
  line-height: 1.7;
  background-color: #6B5278;
}
h2,h3{
  font-family: 'Bitter', serif;
}
section{
  padding-top:4rem;
  padding-bottom:4rem;
}