:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  font-size: 1.2rem;
}
section:nth-child(odd){
  background-color: #f8f9fa;
}
section:nth-child(even){
  background-color: #e9ecef;
}
section{
  padding-top:10rem;
  padding-bottom:10rem;
}