#benefits {
    color: white;
    text-shadow: 2px 2px 4px #281e2d;

    .callToAction .row .ctaCol:first-child{
        text-shadow: none;
    }
    .customBullets {
        list-style-type: none;
        padding-left: 0;
        li {
            position: relative;
            padding-left: 1.3em;
            margin-bottom: 10px;
            &::before {
                content: '\2023'; 
                color: #6B5278; 
                font-size: 1.5em;
                position: absolute;
                left: 0;
            }
        }
    }    
}
@media only screen and (max-width: 576px) {
    #benefits{
        background-image: url("./assets/benefitsBlobBckgMobile.svg");
    }
}
@media only screen and (min-width: 577px) {
    #benefits{
        background-image: url("./assets/benefitsBlobBckgDesktop3.svg");
    }
}


